<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <div id="app" class="app">
        <div class="head">메모 앱</div>
        <div class="body">
            <div v-if="mode==='list'">
                <ul>
                    <li v-for="m in memos" v-on:click="open(m.id)">{{m.content}}</li>
                </ul>
            </div>
            <div class="write" v-else>
                <textarea v-model="memo.content"></textarea>
                <button class="savebtn" type="button" v-on:click="save()" v-bind:class="{'full': mode==='write'}">저장</button>
                <button class="removebtn" type="button" v-on:click="remove()" v-if="mode==='edit'">삭제</button>
            </div>
            <button class="addbtn" type="button" v-on:click="write()" v-if="mode==='list'">+</button>
        </div>
    </div>
    <script>
        
    </script>
</body>
</html>